@charset 'utf-8';

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #1e221c;
        --bg1: #354f4d;
        --bg2: #101010;
        --txt: #f0f0f0;
        --nav: #1a3035;
        --footer: #0d1011;
        --link: #86a2a3;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --nav: #2c5e54;
        --bg: #b8bfb1;
        --bg1: #819b90;
        --bg2: #f0f0f0;
        --txt: #202020;
        --footer: #506863;
        --link: #313b39;
    }
}